/* import fonts */
@import url('./Fonts.css');

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFFFFF;
}

/* make scrollbar transparent */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; 
}
/* disable highlight */
.disable-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* define color palette */
:root {
  --white: #FFFFFF;
  --offWhite: #D9D9D9;
  --black: #000000;
  --darkGrey: #1E1E1E;
  --grey: #565656;
  --lightGrey: #A1A1A1;
  --orange: #FF7A00;
  --orangeRed: #E84803;
  --mutedOrange: #FD8E58;
  --orangeTransparent: rgba(255, 122, 0, 0.8);
  --semiTransparent: rgba(255, 255, 255, 0.5);
}

/* class: text */
.titleXL {
  text-align: center;
  font-size: 100px;
  font-family: 'Baloo Bhaijaan', sans-serif;
  line-height: 100%;
  color: #565656;
}
.title {
  text-align: center;
  font-size: 60px;
  font-family: 'Baloo Bhaijaan', sans-serif;
  line-height: 100%;
  color: #565656;
}
.middletitle {
  text-align: center;
  font-size: 50px;
  font-family: 'Baloo Bhaijaan', sans-serif;
  line-height: 100%;
  color: #565656;
}
.subtitle {
  text-align: center;
  font-size: 40px;
  font-family: 'Baloo Bhaijaan', sans-serif;
  line-height: 100%;
  color: #565656;
}
.subtitleSmall {
  text-align: center;
  font-size: 25px;
  font-family: 'Baloo Bhaijaan', sans-serif;
  line-height: 100%;
  color: #565656;
}
.buttonSubtitle {
  text-align: center;
  font-size: 35px;
  font-family: 'Baloo Bhaijaan', sans-serif;
  line-height: 100%;
  color: #FFFFFF;
}
.text {
  text-align: center;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #565656;
}
.labels {
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #565656;
}
.labelsSmall {
  text-align: center;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #565656;
}
.labelsList {
  font-size: 25px;
  line-height: 130%;
  font-family: 'Open Sans', sans-serif;
  color: #565656;
}
.buttonText {
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  line-height: 100%;
  color: #FFFFFF;
}
.bold {
  font-weight: 700;
}
.textStrike {
  text-decoration: line-through;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}

/* class: spacing and alignment */
.spacingMini {
  margin-bottom: 1%;
}
.spacingBot2 {
  margin-bottom: 2%;
}
.spacing {
  margin-bottom: 4%;
}
.spacingBot5 {
  margin-bottom: 5%;
}
.spacingBot8 {
  margin-bottom: 8%;
}
.spacingBig {
  margin-bottom: 10%;
}
.spacingBot15 {
  margin-bottom: 15%;
}
.spacingTop2 {
  margin-top: 2%;
}
.spacingTop3 {
  margin-top: 3%;
}
.spacingTop5 {
  margin-top: 5%;
}
.spacingTop8 {
  margin-top: 8%;
}
.spacingTop10 {
  margin-top: 10%;
}
.textPadding {
  padding-top: 4%;
}
.sliderSpacing {
  padding-top: 1.9vh;
}
.spacingRight {
  margin-right: 5%;
}
.spacingLeft {
  margin-left: 5%;
}
.orderTitles {
  margin: auto;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}


/* class: divs */
.flexParent {
  display: flex;
}
.flexAuto {
  flex: 1 1 auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.flex1 {
  flex: 1;
  /* gap: 5%; */
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.div90 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.div80 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.div70 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.div60 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.div50 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.div40 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.div30 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.div10 {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.posRelative {
  position: relative;
}
.toRight {
  position: absolute;
  right: 0;
}
.toLeft {
  position: absolute;
  left: 0;
}
.gridCol2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}

/* class: images */
.imgFrameLarge {
  border-radius: 50%;
  border: 3px solid #A1A1A1;
  box-shadow: 3px 5px 10px #A1A1A1, 0 0 0 2px transparent;
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgFrame {
  border-radius: 50%;
  border: 3px solid #A1A1A1;
  box-shadow: 3px 5px 10px #A1A1A1;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgFrameMed {
  border-radius: 50%;
  border: 3px solid #A1A1A1;
  box-shadow: 3px 5px 10px #A1A1A1;
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgFrameSmall {
  border-radius: 50%;
  border: 3px solid #A1A1A1;
  box-shadow: 3px 5px 10px #A1A1A1;
  max-width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgFull {
  width: 100vw;
}
.img25 {
  max-width: 25%;
}
.img8 {
  max-width: 8%;
}

/* class: sold out */
.imageSoldOut {
  filter: grayscale(50%) brightness(0.7);
  opacity: 50%;
}
.soldoutStickerCat {
  position: absolute;
  z-index: 8;
  width: auto;
  padding: 0.4vh;
  padding-right: 1.5vh;
  padding-left: 1.5vh;
  background-color: var(--orangeRed);
  border-radius: 2em;
}
.soldoutStickerDrinks {
  position: absolute;
  z-index: 8;
  width: auto;
  padding: 0.3vh;
  padding-right: 1vh;
  padding-left: 1vh;
  transform: rotate(-15deg);
  background-color: var(--orangeRed);
  border-radius: 2em;
  margin-top: 1vh;
  margin-left: 2vw;
}

/* class: icons */
.icons {
  color: #565656;
  cursor: pointer;
}
.icons:hover {
  color: #FF7A00 !important;
}
.filterIcon {
  color: #565656;
  flex: 1;
  cursor: pointer;
}
.banIcon {
  position: absolute;
  margin-top: -2%;
  margin-left: 3%;
  color: #E84803;
  opacity: 0.5;
  cursor: pointer;
}
.banIconSmall {
  position: absolute;
  /* margin-left: -7.5vw; */
  color: #E84803;
  opacity: 0.5;
}
.exitContainer {
  position: absolute;
  margin-top: -5%;
  margin-right: 5%;
  right: 0;
}
.exitContainerLeft {
  position: absolute;
  margin-top: -15%;
  margin-left: 10%;
  left: 0;
}

/* class: button */
button:hover {
  cursor: pointer;
}
.buttonBlank {
  background-color: inherit;
  border: none;
  text-decoration: none;
}
.buttonOrange {
  background-color: var(--orange);
  border-radius: 5rem;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.buttonCat {
  background-color: var(--white);
  border-radius: 2rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0.2rem 0.2rem 0.8rem #565656;
}
.buttonWhite {
  background-color: var(--white);
  border: solid 0.15rem var(--orange);
  border-radius: 5rem;
  /* padding: 0.3rem; */
  padding-left: 1rem;
  padding-right: 1rem;
}
.buttonOutlineWhite {
  border-radius: 5rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--white);
  border: 3px solid var(--orange);
}
.buttonSubmit {
  border-radius: 5rem;
  padding: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--lightGrey);
  min-width: 25vw;
}
.buttonSubmitPopup {
  border-radius: 5rem;
  padding: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--lightGrey);
  min-width: 15vw;
  margin-left: 3vw;
  margin-right: 3vw;
}
.buttonAdd {
  border-radius: 5rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--orangeRed);
}
.buttonCheckout {
  border-radius: 5rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--orangeRed);
  min-width: 25vw;
}
.buttonChoice {
  background-color: var(--white);
  border: solid 0.15rem var(--lightGrey);
  border-radius: 5rem;
  padding: 0.5rem;
  min-width: 15vw;
  /* max-width: 18vw; */
  min-height: 4vh;
}
.buttonFilter {
  background-color: var(--white);
  border: solid 0.15rem var(--lightGrey);
  border-radius: 5rem;
  padding: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  box-shadow: 0.1rem 0.1rem 0.5rem #565656;
}
.buttonTip {
  border-radius: 5rem;
  padding: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--lightGrey);
  min-width: 35vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.buttonLarge {
  border-radius: 3rem;
  padding: 2rem;
  background-color: var(--lightGrey);
  width: 30vw;
  min-height: 30vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}
.buttonSmall {
  border-radius: 5rem;
  padding: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--lightGrey);
  min-width: 18vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.buttonGlow {
  box-shadow: 0 0 10px 2px var(--white);
}


/* container */
.container {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  right: 0;
  bottom: 0;
  margin: 0;
  position: absolute;
}
.catContainer {
  position: relative;
  width: 100vw;
  height: auto;
  margin-top: 18vh;
}
.popupContainer {
  position: absolute;
  width: 40%;
  height: auto;
  border-radius: 3rem;
  border: 2px solid var(--orange);
  box-shadow: 10px 10px 30px var(--grey);
  background-color: #FAF9F6;
  padding: 2%;
  padding-top: 4%;
  padding-bottom: 4%;
  top: 45vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
.cancelContainer {
  width: 50%;
}
.quantContainer {
  background-color: var(--offWhite);
  /* border: solid 0.1rem var(--orange); */
  border-radius: 3rem;
  padding: 0.4rem;
}

/* Lock Screen */
.lockContainer {
  position: absolute;
  height: auto;
  top: 30vh;
}

/* Ad */
.adSpace {
  position: fixed;
  height: 15vh;
  width: 100%;
  z-index: 11;
}
.adImage {
  width: 100%;
  height: inherit;
  object-fit: cover;
  position: fixed;
  filter: brightness(85%);
}
.adText {
  width: 100%;
  padding-top: 6%;
  text-align: center;
  position: sticky;
  z-index: 5;
  color: #FFFFFF;
  text-shadow: 5px 5px #E84803;
  font-size: 80px;
}

/* Header */
.headerContainer {
  position: fixed;
  width: 100vw;
  height: 6rem;
  background-image: linear-gradient(to bottom, var(--white), var(--white), var(--semiTransparent));
  box-shadow: 0px 1rem 1rem var(--semiTransparent);
  z-index: 10;
}
.headerText {
  padding-top: 2vh;
  flex: 8;
}
.headerIcons {
  flex: 1;
  text-align: center;
  margin-top: 1.5vh;
}
.cartLabel {
  position: absolute;
  top: 15%;
  right: 1.5%;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border: solid 1px var(--white);
  border-radius: 50%;
  background-color: var(--orangeRed);
  color: #FAF9F6;
}

/* Language Selector */
.langContainer {
  z-index: 30;
  position: fixed;
  margin-top: 26vh;
}
.langTab {
  cursor: pointer;
  padding: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--grey);
  border-radius: 0 1.5rem 1.5rem 0;
  height: min-content;
}
.langDrawer {
  /* width: max-content; */
  min-width: 10vw;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  border: solid 0.1rem var(--orange);
  background-color: var(--white);
}
.langUnit {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/* Popup */
.popupVeil {
  position: fixed;
  z-index: 30;
  height: 100vh;
  width: 100vw;
  background-color: var(--semiTransparent);
}
.filterUnit {
  padding: 5%;
  margin: 3%;
  border-radius: 50px;
  border: 2px solid #A1A1A1;
  background-color: var(--semiTransparent);
  cursor: pointer;
}
.filterText {
  padding-top: 2%;
  color: #565656;
  flex: 3;
}
.selectedFilter {
  border: 3px solid #FF7A00;
  /* background-color: rgba(255, 122, 0, 0.15); */
}


/* DrinkCategory */
.catGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
  row-gap: 5rem;
  padding: 5%;
  padding-top: 10vh;
  padding-bottom: 15vh;
}
.catImage {
  object-fit: cover;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.noDrinkPopUp {
  position: fixed;
  width: 45%;
  height: auto;
  border-radius: 3.5rem;
  border: 2px solid #FF7A00;
  box-shadow: 1rem 1rem 1.2rem #565656;
  background-color: #FAF9F6;
  padding: 2%;
  padding-top: 3%;
  z-index: 20;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* Category Nav */
.horizontalScrollContainer {
  position: fixed;
  overflow-x: auto;
  overflow-y: hidden;
  top: 15vh;
  /* height: 3.5vh; */
  height: 4rem;
  width: 100vw;
  z-index: 20;
  background-color: var(--orangeTransparent);
}
.catNavTab {
  z-index: 22;
  position: fixed;
  right: 0;
  background-color: var(--mutedOrange);
  width: 2.5vw;
  height: inherit;
}
.catNavContainer {
  width: fit-content;
  height: inherit;
  display: inline-flex;
  align-items: center;
  /* padding: 1vw; */
  margin-right: 2.5vw;
  gap: 0.5vw;
}
.catScrollContainer {
  width: max-content;
  z-index: 21;
  padding: 0.6vw;
}
.catScrollImage {
  max-height: 12vw;
  max-width: 12vw;
}
.drinkTitle {
  color: #565656;
  font-size: 25px;
}
/* .drinkText {
  color: #565656;
  font-size: 20px;
} */

/* Drink Mod */
/* header */
.orderHeader {
  margin-top: 1vh;
  width: 100vw;
  height: auto;
  margin-bottom: 1vh;
}
.orderIcons {
  flex: 1;
  text-align: center;
}
.orderText {
  flex: 8;
}
.drinkInfo {
  float: right;
}
.infoPopUp {
  position: fixed;
  width: 45vw;
  height: auto;
  border-radius: 3rem;
  border: 2px solid #FF7A00;
  box-shadow: 1rem 1rem 1.2rem #565656;
  background-color: #FAF9F6;
  padding: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  z-index: 20;
  top: 25vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* summary */
.orderSummary {
  text-align: center;
  align-items: center;
}
.drinkImage, .drinkText {
  width: 60%;
  margin: auto;
}
.drinkText p {
  line-height: 120%;
}
/* slider */
.sliderContainer {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position: relative;
}
.line {
  background-color: #FF7A00;
  border: 11px solid #FF7A00;
  border-radius: 10px;
	align-items: center;
  margin: auto;
  width: 100%;
  z-index: 1;
  /* position: inline-block; */
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-top: 0.4%;
  position: absolute;
  z-index: 5;
}
.thumb {
  margin-bottom: 9%;
  width: 24%;
  position: absolute;
  /* width: 20%;
  position: fixed; */
  z-index: 10;
  transition: 0.3s;
}
/* toppings */
.toppingsGrid {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  row-gap: 5%;
  grid-template-columns: repeat(5, 1fr);
}
.toppingsCell {
  min-height: 10vh;
}
/* footer */
.cartFooter {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5rem;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 10;
  /* background-color: rgba(255, 122, 0, 0.7); */
  background-color: rgba(86, 86, 86, 0.8);
}

/* submit buttons */
.paymentButton {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  background-color: #A1A1A1;
  border-radius: 50px;
  padding-top: 8%;
  padding-bottom: 8%;
}
.submitButton:hover, .paymentButton:hover  {
  background-color: #E84803;
}


/* checkout */
.checkoutImg {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.modList {
  padding-left: 1rem;
}
.quantEditContainer {
  background-color: var(--white);
  border: solid 0.15rem var(--lightGrey);
  border-radius: 10em;
  position: absolute;
  margin-left: 10%;
  left: 0;
  height: 6vh;
  padding: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.cartLabelTop {
  position: absolute;
  top: 0.3%;
  right: 1.2%;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border: solid 1px var(--white);
  border-radius: 50%;
  background-color: var(--orangeRed);
  color: #FAF9F6;
}
.cartLabelTab {
  position: absolute;
  top: 5%;
  right: 10%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border: solid 1px var(--white);
  border-radius: 50%;
  background-color: var(--orangeRed);
  color: #FAF9F6;
}
.paymentGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 5%;
  padding-left: 5%;
}
.paymentImage {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
}
.paddingLeft {
  padding-left: 10%;
}
.divSpace {
  margin-top: 8%;
}
.stripe {
  background-color: rgba(255, 122, 0, 0.15);
  border-radius: 15px;
}
.confirm {
  background-color: #FF7A00
}
.emptyMessage {
  position: fixed;
  width: 45%;
  height: auto;
  border-radius: 50px;
  border: 2px solid #FF7A00;
  background-color: #FAF9F6;
  padding: 2%;
  padding-top: 4%;
  padding-bottom: 4%;
  z-index: 20;
  top: 14%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.paymentInit {
  margin-top: 40vh;
}
.paymentAnim {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.failTextIcon {
  color: #FFFFFF;
}
.tryDiv {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #FF7A00;
  border-radius: 50px;
  margin-right: 1%;
}
.cancelDiv {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #A1A1A1;
  border-radius: 50px;
  margin-left: 1%;
}

/* Checkout Footer */
.footerContainer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-bottom: 2vh;
}

/* Tool: Tab */
.tabContainer {
  position: fixed;
  margin-top: 81vh;
}
.tabButtonLeft {
  cursor: pointer;
  padding: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--grey);
  border-radius: 0 1.5rem 1.5rem 0;
}
.tabButtonRight {
  cursor: pointer;
  padding: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--grey);
  border-radius: 1.5rem 0 0 1.5rem ;
}


/* Animation Classes */
.arrow {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  z-index: 10;
  text-decoration: none;
  text-shadow: 0;
  width: 50px;
  height: 50px;
  border-bottom: 10px solid #E84803;
  border-right: 10px solid #E84803;
  transform: translate(-50%, 0%) rotate(45deg);
}
.down1 {
  margin-bottom: -6%;
  animation: fade_move_down1 3s ease-in-out infinite;
}
.down2 {
  margin-bottom: -4%;
  animation: fade_move_down2 3s ease-in-out infinite;
}
.down3 {
  margin-bottom: -2%;
  animation: fade_move_down3 3s ease-in-out infinite;
}
.arrowRight {
  transform: translate(-10%, 0%) rotate(270deg);
}

/*animated scroll arrow animation*/
@keyframes fade_move_down1 {
  0%  { transform:translate(0, 5%) rotate(45deg); opacity: 1;  }
  20% { opacity: 0;  }
  50% { transform:translate(0, 5%) rotate(45deg); opacity: 0; }
  80% { transform:translate(0, 5%) rotate(45deg); opacity: 1; }
  100% { transform:translate(0, 5%) rotate(45deg); opacity: 1; }
}
@keyframes fade_move_down2 {
  0%  { transform:translate(0, 5%) rotate(45deg); opacity: 1;  }
  20% { opacity: 1;  }
  50% { opacity: 0;  }
  80% { transform:translate(0, 5%) rotate(45deg); opacity: 0; }
  100% { transform:translate(0, 5%) rotate(45deg); opacity: 1; }
}
@keyframes fade_move_down3 {
  0%  { transform:translate(0, 5%) rotate(45deg); opacity: 0;  }
  20% { opacity: 1;  }
  50% { opacity: 1;  }
  80% { transform:translate(0, 5%) rotate(45deg); opacity: 0; }
  100% { transform:translate(0, 5%) rotate(45deg); opacity: 0; }
}


/* loading payment animation */
/* src: https://blog.hubspot.com/website/css-loading-animation */
.loadingRing {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:200px;
  height:200px;
  background:transparent;
  border: 5px solid #A1A1A1;
  border-radius:50%;
  text-align:center;
  line-height:200px;
  font-family: 'Baloo Bhaijaan', sans-serif;
  font-size: 23px;
  color :#FF7A00;
  letter-spacing: 5px;
  text-transform:uppercase;
  /* text-shadow:0 0 10px #FF7A00; */
  box-shadow:0 0 20px rgba(255, 248, 248, 0.5);
}
.loadingRing:before {
  content: '';
  position:absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #FF7A00;
  border-right: 3px solid #FF7A00;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
  box-shadow: 0 0 20px #E84803;
}
.loadingRing span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 5px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.loadingRing span:before {
  content:'';
  position:absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:#E84803;
  /* top: -500px;
  right: 15px; */
  top: -80px;
  right: 15px;
  box-shadow: 0 0 20px #E84803;
}
.doubleLine {
  padding-top: 4.5rem;
  line-height: 2rem;
}
.doubleLine:before {
  padding-top: 4.5rem;
  line-height: 2rem;
}
@keyframes animateC {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}
@keyframes animate {
  0% { transform:rotate(90deg); }
  100% { transform:rotate(450deg); }
}

/* Mobile Popup */
.formInput {
  border: none;
  background-color: transparent;
}
.formInput:focus {
  outline: none;
  border: none;
  background-color: none;
}
.formFrame {
  width: 80%;
  height: 2.5rem;
  border-radius: 5px;
  border: 2px solid #E98147;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

/* selected classes */
.selectedIconText {
  color: #FF7A00 !important;
  font-weight: 600;
}
.selectedTitle {
  color: #FF7A00
}
.selectedImg {
  border: 5px solid #E84803;
}
.selectedText {
  color: #E84803;
  font-weight: 600;
}
.warningText {
  color: #FF7A00;
  font-weight: 600;
  font-size: 25px;
}
.bgOrange {
  background-color: var(--orange);
}
.bgRed {
  background-color: var(--orangeRed);
}
.bgOrangeTransparent {
  background-color: var(--orangeTransparent);
}
.textGrey {
  color: var(--lightGrey);
}
.textMedGrey {
  color: var(--grey);
}
.textWhite {
  color: var(--white);
}
.textOrange {
  color: var(--orange);
}
.textRed {
  color: var(--orangeRed);
}
.borderOrange {
  border: var(--orange);
}
.buttonSelected {
  border: solid 0.2rem var(--orange);
}
.buttonSelectedRed {
  border: solid 0.2rem var(--orangeRed);
}


/* aspect ratio 3 x 4 (800 x 1200) */
@media screen and (max-width: 800px) {
  /* text */
  .labels {
    font-size: 16px;
  }
  .title {
    font-size: 48px;
  }
  .middletitle {
    font-size: 44px;
  }
  .subtitle {
    font-size: 32px;
  }
  .buttonSubtitle {
    font-size: 28px;
  }
  .drinkTitle {
    font-size: 24px;
  }
  .text {
    font-size: 20px;
  }
  .buttonText {
    font-size: 24px;
  }
  /* containers */
  .adSpace {
    height: 18vh;
  }
  .headerContainer {
    height: 12rem;
  }
  .catContainer {
    margin-top: 18vh;
  }
  .langContainer {
    margin-top: 19.5vh;
  }
  .catGrid {
    padding-top: 15vh;
  }
  .drinkModContainer {
    padding-bottom: 10vh;
  }
  .sliderContainer {
    width: 90%;
  }
  .cartFooter {
    padding: 0;
  }
  .paymentInit {
    margin-top: 30vh;
  }
  /* fixed position */
  .cartLabel {
    right: 0.5%;
    top: 5%;
  }
  #filter {
    margin-top: 2rem;
  }
  .tabContainer {
    margin-top: 63vh;
    z-index: 50;
  }
}